body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: auto;
}
#appLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px; /* Ajusta el tamaño según necesites */
    height: auto;
    margin-bottom: 10px; /* Espacio debajo del logo */  
}
h1 {
    text-align: center;
    color: #333;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input[type="number"], select {
    width: 100%; /* Ajusta el ancho para que coincida con el botón */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff; /* Matches the input fields' background */
}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px; /* Ajusta el borde para que sea completamente circular en los extremos */
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
}
button:hover {
    background-color: #0056b3;
}
.resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.resultado p {
    margin: 5px 0;
    font-size: 1.1em;
}
.resultado p span {
    font-weight: bold;
}
.error {
    color: red;
    margin-top: 10px;
    text-align: center;
}

/* Eliminé los estilos específicos del DIV precioVentaCalculado para que quede uniforme con el resto de la tabla */
#precioVentaCalculado {
    all: unset; /* Resetea todos los estilos aplicados */
}

#porcentajeComision {
    width: 100%; /* Ajusta el ancho para que coincida con los otros inputs y el botón */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}
#porcentajeComision label {
    display: inline-block; /* Aligns the radio buttons horizontally */
    margin-right: 15px; /* Adds spacing between the options */
    font-weight: normal;
}
#porcentajeComision input[type="radio"] {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd; /* Bordes suaves */
    padding: 8px;
    text-align: left; /* Alineación por defecto */
}

td:nth-child(2) {
    text-align: right; /* Alinear los montos a la derecha */
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#resultadoDiv td span {
    margin-left: 5px; /* Ajusta el espacio según sea necesario */
}

/* Agregar color verde suave a la celda que contiene el valor de "precio de venta sugerido" */
#resultadoDiv td#precioVentaCalc{
    background-color: #d4edda; /* Verde suave */
    font-weight: bold; /* Negrita para destacar el valor */
}